{% extends "base.html" %}

{% block title %} Detalle del dispocitivo {% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-md-10">
                    <h2>Detalle del dispocitivo: {{proddet.nombre}}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/dispocitivos/dispocitivos/">Dispocitivos</a>
                        </li>
                        <li class="active">
                            <strong>Detalle del Dispocitivo</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-md-2">

                </div>
            </div>

<div class="wrapper wrapper-content">
<div class="wrapper wrapper-content animated fadeInRight white-bg dashboard-header">

<div class="panel panel-info">
<div class="panel-heading"> <i class="fa fa-info-circle"></i>
	Información
</div>
<div class="panel-body">

	<div class="row">
		<div class="col-md-5">
			<dl class="dl-horizontal">
                <dt>ID:</dt>
                <dd>{{proddet.ide}}</dd>
				<dt>Nombre :</dt>
				<dd>{{proddet.nombre}}</dd>
				<dt>Descripcion :</dt>
				<dd>{{proddet.descripcion}}</dd>
                <dt>Variables:</dt>
                <dd>
                {%for dr in proddet.variables.all %}
                <li>{{dr}}</li>
                {% endfor %}</dd>
                
				

			</dl>
		</div>

	</div>

</div>

</div>

<a href="/dispositivos/dispositivos/">
<button class="btn btn-w-m btn-danger" type="submit"> <i class="fa fa-arrow-left"></i>
	Regresar
</button>
</a>



</div>
</div>
{% endblock %}