{% extends "base.html" %} {% block title %} Lista de Zonas {% endblock %} {% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Ver zonas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dispositivos/dispositivos/">Dispocitivos</a>
            </li>
            <li class="active">
                <strong>Ver todos los dispocitivos</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content animated fadeInRight white-bg dashboard-header">
        <div class="row">
            <div class="col-md-12">

<div class="ibox-content p-md boxclosed">
                    <div class="row">
                        <div class="col-md-4">
                             <a class="btn btn-success btn-facebook" href="/dispositivos/agregar_dispositivo/">
                    <i class="fa fa-plus"> </i> Agregar nuevo dispositivo
                </a>
                        </div>
                        <div class="col-md-4">
                        </div>
                       
                        </div>
                    </div>
            </div>

               
                <p></p>
                {% if object_list %}
                <table border="1" cellpadding="0" cellspacing="0" style="" class="table table-bordered">
                    <tbody>
                        <thead>
                            <tr>
                                <td><b>Nombre</b></td>
                                <td><b>Ver detalles</b></td>
                                <!--    <td><b>Eliminar producto</b></td> -->
                            </tr>
                        </thead>
                        {% for prod in object_list %}
                        <tr>
                            <td>{{prod.nombre}}</td>
                            <td>
<a href="{% url 'detalle_dispositivo' pk=prod.pk %}"><button class="btn btn-warning btn-w-m" type="button"><i class="fa fa-paste"></i> Detalles </button></a>
                            </td>
                           
                        
                        </tr>
                        {% endfor %} {% else %}
                        <h3>No has agregado dispositivos</h3> {% endif %}
                    </tbody>
                </table>
               
                <div class="paginationbox">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                            <span>
                                <a href="?page=1"> << Primera pagina</a>
                            </span>
                        </li>
                        <li>
                            <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                        </li>
                        {% endif %}
                        <li class="">
                            <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                        <li>
                            <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                        </li>
                            <li>
                            <span>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Ultima pagina >></a>
                            </span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
               
            
        </div>
    </div>
</div>
{% endblock %}
